<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Car sale price</th>
      <th>Interest rate</th>
      <th>Pay period</th>
      <th>Sold</th>
      <th>Employee</th>
      <th>Car</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.date %></td>
        <td><%= quote.car_sale_price %></td>
        <td><%= quote.interest_rate %></td>
        <td><%= quote.pay_period %></td>
        <td><%= quote.sold %></td>
        <td><%= quote.employee %></td>
        <td><%= quote.car %></td>
        <td><%= quote.customer %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
