<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @quote.date %>
</p>

<p>
  <strong>Car sale price:</strong>
  <%= @quote.car_sale_price %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @quote.interest_rate %>
</p>

<p>
  <strong>Pay period:</strong>
  <%= @quote.pay_period %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.sold %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
