<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @car.vehicle_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= @car.wholesale_price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @car.image %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
