<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @sale.data %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @sale.sales_tax %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @sale.total_price %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @sale.payment_method %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
